<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MJKTwitterQuery</display-name>
  <welcome-file-list>
    <welcome-file>queryInterface.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>QueryLocationFromTweets</display-name>
    <servlet-name>QueryLocationFromTweets</servlet-name>
    <servlet-class>mjk.query.servlet.QueryLocationFromTweets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryLocationFromTweets</servlet-name>
    <url-pattern>/tweetvenue.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryTweetsFromLocation</display-name>
    <servlet-name>QueryTweetsFromLocation</servlet-name>
    <servlet-class>mjk.query.servlet.QueryTweetsFromLocation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryTweetsFromLocation</servlet-name>
    <url-pattern>/uservenue.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryDiscussion</display-name>
    <servlet-name>QueryDiscussion</servlet-name>
    <servlet-class>mjk.query.servlet.QueryDiscussion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryDiscussion</servlet-name>
    <url-pattern>/discussion.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryFrequency</display-name>
    <servlet-name>QueryFrequency</servlet-name>
    <servlet-class>mjk.query.servlet.QueryFrequency</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryFrequency</servlet-name>
    <url-pattern>/frequency.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StreamingServletVenues</display-name>
    <servlet-name>StreamingServletVenues</servlet-name>
    <servlet-class>mjk.query.servlet.StreamingServletVenues</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StreamingServletVenues</servlet-name>
    <url-pattern>/StreamingServletVenues</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StreamingServletVistors</display-name>
    <servlet-name>StreamingServletVistors</servlet-name>
    <servlet-class>mjk.query.servlet.StreamingServletVistors</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StreamingServletVistors</servlet-name>
    <url-pattern>/StreamingServletVistors</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>mjk.query.servlet.StreamingShutdown</listener-class>
</listener>
</web-app>